* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  background-color: #f6f6f9;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.logo-two {
  gap: 25px;
}

.link-logo-item {
  text-decoration: none;
}

.logo-item-bkg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
  padding-top: 3px;
}

.logo-toshkent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 47px;
}

.ru {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  gap: 25px;
}

.strong {
  width: 258px;
  height: 21px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
}

.logo-item {
  color: #7a7a7a;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.1px;
  height: 40px;
  background: #ffffff;
  border-radius: 5px;
}

.ru-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.1px;
  height: 40px;
  background: #ffffff;
  border-radius: 5px;
}

.tg-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 40px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  gap: 10px;
}

.navbar {
  padding-top: 40px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}

.img-six {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph-carona {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-left: 25px;
  margin-right: 35px;
}

.paragraph-carona-red {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #db0000;
  padding-left: 25px;
  margin-right: 35px;
}

.paragraph-carona-green {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #05b135;
  padding-left: 25px;
  margin-right: 35px;
}

.paragraph-carona-black {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-left: 25px;
  margin-right: 35px;
}

.main-section-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid red;
}

.hero-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 133px;
  background: #f6f6f9;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.main-section-item:last-child {
  border: none;
}

strong {
  color: #000000;
}

.news {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 35px;
}

.prezident-news {
  width: 380px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}

.prezident-img {
  margin-bottom: 18px;
}

.date {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6b6d97;
}

.addvertise {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 91px;
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
}

.addvertise-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
  gap: 20px;
}

.button {
  margin-right: 25px;
  width: 264px;
  height: 42px;
  background: linear-gradient(
    90deg,
    #fe5c28 0%,
    rgba(255, 139, 54, 0.9) 88.43%
  );
  border-radius: 5px;
  text-decoration: none;
}

.bell-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.button-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 10px 20px;
}

.finish-news {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.new-finish {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  width: 434px;
  height: 42px;
}

.news-finish-item {
  width: 512px;
  height: 55px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}

.finish-news-section {
  display: flex;
}

.new-finish {
  width: 434px;
  height: 42px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin-bottom: 10px;
}

.dete-two {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7688a4;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.news-items {
  margin-left: 15px;
}

.finish {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.button-btn {
  display: flex;
  align-items: center;
  margin-left: 300px;
  margin-top: 30px;
}

.hero-btn {
  width: 211px;
  height: 42px;
  background: #295093;
  border-radius: 5px;
  padding: 13px 33px;
}

.hero-btn-item {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.textt {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
}

.textt-items {
  width: 347px;
  height: 62px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
}

.time-six {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7688a4;
}

.left {
  width: 386px;
  height: 430px;
  background: #f6f6f9;
  border-radius: 5px;
}

.textt {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
}

.time-six {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7688a4;
}

.small-div {
  border-bottom: 2px solid #e4e4e4;
  padding: 10px;
}

.small-div:last-child {
  border: none;
}

.img-ucell-images {
  margin-top: 90px;
}

.iphone {
  width: 100%;
  height: 214px;
  background: #f6f6f9;
  border-radius: 5px;
  display: flex;
  margin-top: 40px;
}

.img-iphone {
  margin-top: 18px;
}

.iphone-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #295093;
  display: flex;
  margin-top: 65px;
}

.iphone-text-two {
  width: 515px;
  height: 44px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.apps {
  text-decoration: none;
}

.appstore {
  margin-top: 85px;
  margin-left: 45px;
}

.namangan {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer {
  background: #295093;
  width: 100%;
  margin-top: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.top-item {
  text-decoration: none;
  background: #133c82;
  border-radius: 5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 194px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.top-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph-top {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.telegramm-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  background: #ffffff;
  border-radius: 5px;
  margin-left: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
  padding: 10px 30px;
}

.about {
  width: 365px;
  height: 121px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-top: 35px;
}

.about-items {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 400px;
}

.about-item {
  display: flex;
  justify-content: space-evenly;
}

.about-items {
  margin-top: -100px;
}

.about-itemmm {
  display: flex;
  justify-content: space-evenly;
}

.about-itemm {
  margin-left: -400px;
}

#form {
  position: absolute;
  top: 300px;
  left: 40%;
  background-color: rgba(159, 159, 159, 0.47);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s ease;
  transform: translateY(-250%);
  z-index: 50;
}

input {
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  box-shadow: rgba(202, 202, 202, 0.278) 0px 0px 10px 10px;
}

button {
  border-radius: 10px;
  border: none;
  padding: 10px 8px;
  box-shadow: rgba(202, 202, 202, 0.121) 0px 0px 10px 10px;
  cursor: pointer;
}

.bg {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(159, 159, 159, 0.284);
}

.object {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-eight {
  width: 386px;
  height: 190px;
  border-radius: 10px;
  position: relative;
}

.textBg {
  position: fixed;
  z-index: 15;
  top: 770px;
  left: 100px;
  background-color: green;
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
  transition: all 0.5s ease;
  transform: translateX(-200%);
}

.textBg h3 {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bgB {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  background-color: red;
  border-radius: 10px;
  padding: 5px 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.date {
  margin-bottom: 10px;
}
